build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store

ColorTap/ColorTap.xcodeproj/project.xcworkspace/xcuserdata/cohen.xcuserdatad/UserInterfaceState.xcuserstate
TapThatColour/TapThatColour.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
mobile/coverage/lcov.info
mobile/assets/sensitive.properties
mobile/android/keystore.properties
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist
mobile/Test Results - tests_in_test.html
mobile/release_credentials.sh
